.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  padding: gem(20) gem(180);
  background: linear-gradient(180deg, rgba(39,43,56,1) 35%, rgba(39,43,56,0.5) 100%);
  transition: all 0.3s ease;
  border-bottom: 1px solid var(--color-pink);
  &-logo {
    display: flex;
    span {
      margin-right: gem(2);
    }
  }
  &-nav {
    &-list {
      display: flex;
      &-element {
        display: flex;
        margin-right: gem(20);
        &:last-child {
          margin-right: 0;
        }
        a {
          transition: all 0.3s ease;
          &:hover {
            color: var(--color-blue);
          }
        }
      }
    }
  }
}
@media all and (max-width: 1024px) {
  .header {
    padding: gem(20) gem(80);
    &-nav {
      display: none;
    }
    &-burger {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: gem(30);
      height: gem(20);
      &::before,
      &::after {
        content: '';
        display: block;
        width: gem(30);
        height: 2px;
        position: absolute;
        background: var(--color-white);
        transition: all 0.3s ease;
      }
      &::before {
        left: 0%;
        top: 0%;
      }
      &::after {
        right: 0%;
        bottom: 0%;
      }
      span {
        width: gem(30);
        height: 2px;
        background: var(--color-blue);
        transition: all 0.3s ease;
      }
    }
    &.bgr_dark {
      background: linear-gradient(180deg, rgba(39,43,56,1) 100%, rgba(39,43,56,1) 100%);
    }
  }
}
.mobile_menu {
  display: none;
}
@media all and (max-width: 480px) {
  .header {
    padding: gem(20) gem(40);
  }
}



@media all and (max-width: 1024px) {
  .mobile_menu {
    display: flex;
    position: fixed;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: calc( 100vh - 0.59rem );
    background: var(--color-dark);
    z-index: 15;
    transition: 0.3s all ease;
    &-close {
      position: absolute;
      right: 0;
      top: 0;
      width: gem(40);
      height: gem(40);
    }
    &-nav {
      width: 100%;
      margin-top: gem(80);
      &-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        &-element {
          margin-bottom: gem(20);
          &:last-child {
            margin-bottom: 0;
          }
          a {
            transition: all 0.3s ease;
            &:hover {
              color: var(--color-blue);
            }
          }
        }
      }
    }
    &-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
    &.active {
      right: 0;
    }
  }
};