\:root
    --color-white:                         #FFFFFF
    --color-pink:                         #9e0099
    --color-blue:                          #0575DC
    --color-red:                           #ff5454
    --color-green:                         #31ff4c
    --color-dark:                        #1f1f1f
    