.about {
  &-main {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: gem(80) 0;
    &-title {
      width: gem(580);
      p {
        margin: gem(20) 0 gem(30);
      }
    }
    &-pics {
      width: gem(500);
      height: auto;
      border-radius: gem(10);
      box-shadow: gem(0) gem(0) gem(6) gem(2) var(--color-pink);
    }
  }
}

@media all and (max-width: 1024px) {
  .about {
    &-main {
      padding: gem(80) 0 gem(40);
      flex-direction: column-reverse;
      &-title {
        width: 100%;
        h2 {
          text-align: center;
        }
        p {
          text-align: center;
          margin: gem(20) 0 gem(30);
        }
      }
      &-pics {
        margin-bottom: gem(40);
      }
    }
  }
}
@media all and (max-width: 480px) {
  .about-main {
    &-title p {
      margin: gem(10) 0 gem(20);
    }
  }
};