.advantages {
  &-main {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: gem(80) 0;
    &-title {
      width: gem(500);
      p {
        margin: gem(20) 0 gem(30);
      }
    }
    &-list {
      display: flex;
      flex-direction: column;
      width: gem(580);
      &-element {
        display: flex;
        align-items: center;
        margin-bottom: gem(30);
        border: 1px solid var(--color-pink);
        border-radius: gem(50);
        padding: gem(20);
        width: 100%;
        &:last-child {
          margin-bottom: 0;
        }
        svg {
          width: gem(100);
          fill: var(--color-blue);
          margin-right: gem(20);
        }
        &-desc {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

@media all and (max-width: 1024px) {
  .advantages {
    &-main {
      padding: gem(40) 0;
      flex-direction: column;
      align-items: flex-start;
      &-list {
        width: 100%;
      }
    }
  }
}
@media all and (max-width: 480px) {
  .advantages {
    &-main {
      &-title {
        width: 100%;
        h2 {
          text-align: center;
        }
        p {
          text-align: center;
          margin: gem(10) 0 gem(20);
        }
      }
      &-list-element {
        flex-direction: column;
        svg {
          margin-right: 0;
        }
        &-desc {
          h3, p {
            text-align: center
          }
        }
      }
    }
  }
};