.opening {
  background: var(--color-dark);
  display: flex;
  align-items: center;
  &-main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: gem(80) 0;
    &-title {
      p {
        margin-top: gem(30);
        text-align: right;
      }
    }
    &-pics {
      width: gem(500);
      height: auto;
      position: relative;
      top: gem(80);
      border-radius: gem(10);
      box-shadow: gem(0) gem(0) gem(10) gem(2) var(--color-blue);
    }
    &-button {
      display: flex;
      width: 100%;
      &-element {
        margin-right: gem(40);
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

@media all and (max-width: 1024px) {
  .opening {
    &-main {
      padding: gem(90) 0 0;
      &-title {
        width: 100%;
        h1 {
          text-align: center;
        }
        p {
          margin: gem(10) 0 gem(40);
          text-align: center;
        }
      }
      &-pics {
        margin: 0 auto gem(40);
        top: unset;
      }
      &-button {
        justify-content: center;
      }
    }
  }
}
@media all and (max-width: 480px) {
  .opening {
    &-main {
      padding: gem(90) 0 gem(20);
      &-title {
        h1 {
          margin-bottom: gem(10);
        }
        p {
          margin: gem(10) 0 gem(20);
        }
      }
      &-pics {
        margin: 0 auto gem(30);
        width: gem(300);
        height: gem(300);
        &-block {
          width: gem(300);
          height: gem(300);
        }
      }
      &-button {
        flex-direction: column;
        width: gem(200);
        margin: 0 auto;
        &-element {
          margin: 0 0 gem(10);
          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }
};